.page_about{
  display: flex;
  justify-content: center;
  margin: 45px;
}

.about{
  @include texts ();
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  margin: 25px;
  gap: 25px;
  text-align:left;
  &_img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      border: 2px solid $color_verde;
      padding: 5px;
      align-items: center;
      transition: opacity 0.3s ease; 
      cursor: pointer;
      &:hover {
          opacity: 0.5;
          background: $color_verde;
         
      }
         

  }
  &_article{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding-top: 35px;

  }
  @media(min-width: 768px){
      flex-direction: row;
      justify-content: center;
     align-items: center;
      gap: 150px;

}}


.about_gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  gap: 2px;
  width: 90%;

}
.special{
  transform: translate(15px, 15px)

  //rotate(10 deg);
}

.pdf{
  width: 150px;
  border: 2px solid $color_rosa;
  padding: 5px;

}

.modal {
  position: fixed; /* Posiciona el modal de forma fija en la pantalla */
  top: 50%; /* Centra el modal verticalmente */
  left: 50%; /* Centra el modal horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el modal para que esté completamente centrado */
  width: 80%; /* Ajusta el tamaño del modal */
  max-width: 500px; /* Establece un tamaño máximo */
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none; /* Asegúrate de que el modal esté oculto por defecto */
  z-index: 9999; /* Asegura que el modal esté sobre otros elementos */


}

.modal-content {
  width:100%;
  height: auto;
  object-fit: contain;
  max-width: 600px; /* Asegura que la imagen no sea demasiado grande */
  transition: all 0.3s ease;
  border: 2px solid $color_verde;
  padding: 5px;
}

.close {
  font-weight: bold;
  position: absolute;
  top:0px;
  left: 2px;
  font-size: 30px;
  color: $color_rosa;
  cursor: pointer;
  z-index: 10000; /* Asegura que la "x" esté sobre otros elementos */
}
.modal-title{
  font-family: $font_text;
  color: $color_rosa;

}