.page_exhib{
   display: flex;
  justify-content: center;
  @media(min-width: 1280px){
    margin: 45px;
    
  }
 
}
.container{
    @include texts ();
    color: $color_rosa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    @media(min-width: 1280px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 100px;
     }
}
.section{
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    &_img{
        width:100%;
        border: 2px solid $color_verde;
        padding: 5px;
        @media(min-width: 768px){
        display: flex;
        border: 2px solid $color_verde;
        }
    }
    &_video{
        width:425px;
        border: 2px solid $color_verde;
        padding: 5px;
        aspect-ratio: 16/9;
        object-fit: fill;
        
    }
}

.article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
    &_img{
        width:70px;
        padding: 5px;
        align-self: first baseline;
    }
    &_h3{
        font-weight: bold;
        padding-bottom: 15px;
    }
    &_date{
        
        padding-top: 15px;
        color: rgba(246, 82, 160, 0.5); 
    }
    @media(min-width: 1280px){
        width:100%;
     
    }
    
    }
    .div_media{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .left_exb{
        transform: translateX(25px);
    }

    .right_exb{
        transform: translateX(-25px);

    }



