.page_footer{
  background-color: white;
  text-align: center;
    
}

.container_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.icons_img{
    height: 20px;
    color: $color_morado;
   
}

.container_text{
    @include texts ();
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-bottom: 25px;
}