.landing{
  @include texts ();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color_rosa;
  padding-bottom: 45px;

}

.slider{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.carousel {
  width: 600px;
  overflow: hidden;
  display: flex;
}
.carousel_ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-in-out;
  }

.carousel_img{
  object-fit: cover;
    transition: filter 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      opacity: $project-hover-opacity;
      transform: scale($project-hover-scale);
       
    } 
  }

.btn_scroll {
  @include btn ();
  position: absolute;
  top: 50%; 
}

.right{
  transform:translateX(550px);

}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}