.landing{
    @include texts ();
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
    color: $color_rosa;
   
   
}

.carousel{
   width: 80%;
    &_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
        &__img{
        width: 100%;
        border: 2px solid $color_verde;
        padding: 5px;
        }

    }
    @media(min-width: 768px){
        overflow: hidden;
        position: relative;
        width: 50%;
       &_items{
       flex-direction: row;
       gap: 3px;
       transition: transform 0.5s ease;
       &__img{
        height: 50vh;
        }
    }
        
    }
   
}
.btn_scroll{
    display: none;
    @media(min-width: 768px){
    @include btn ();
    transform: translateX(15px);
    }
}
.right{
    transform:translateX(-30px);

}