.page_projects{
    display: flex;
    justify-content: center;
     margin: 45px;
         
}
.project{
    @include texts ();
    width: 80%;
    margin: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align:center;
    &_img{
        width: 300px; /* Ajusta el ancho según lo necesites */
        height: 200px; /* Ajusta la altura según lo necesites */
        object-fit: cover; /* Ajusta cómo se adapta la imagen al contenedor */
        border: 2px solid $color_rosa;
        padding: 5px;
        &:hover {
            opacity: 0.5;
            background: $color_rosa;
           
        }
        
    }
    @media(min-width: 768px){
        &_gallery{
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
        }
        
    }    
}
