.page_projects{
    display: flex;
    justify-content: center;
     margin: 45px;
         
}
.project{
    @include texts ();
    width: 80%;
    margin: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align:center;
    &_img{
        width: 300px; 
        height: 200px; 
        object-fit: cover; /* Ajusta cómo se adapta la imagen al contenedor */
        //border: 1px solid $color_rosa;
        padding: 5px;
        &:hover {   
            opacity: 0.5;
           
        
        }
        
    }
    @media(min-width: 768px){
        &_gallery{
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
            
        }
        
    }    
    
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.square{
    width: 35px;
    height: 35px;
    background-color: $color_verde;
}
.conteiner_title{
    
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 5px;
}