.page_project{
    @include texts();
    margin: 50px 100px 50px 100px;
    text-align: center;
    @media(min-width: 768px){
        text-align: left;
    }

}

.content_text{
    @media(min-width: 768px){
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items:center;
    padding-top: 25px;
}}
.category{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}
.content_gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    padding-top: 25px;
    @media(min-width: 768px){
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        justify-items: center;  
        justify-self: center;
        :only-child { /* Selecciona el único hijo directo del .content_gallery */
            grid-column: 1 / -1; /* Ocupa todo el ancho disponible (una columna) */
            justify-self: center; 
            align-self: center;
            width:80%;
            height:auto;
           
            
        }
        
    }
    
}


.gallery_img {
    border: 2px solid $color_verde;
    padding: 5px;
    width: 400px; 
    height:auto; 
    object-fit: cover; /* Ajusta cómo se adapta la imagen al contenedor */
    transition: transform 0.3s ease; 
    @media(min-width: 768px){
        width: 300px; 
        height:300px; 

    }
    
  }
  
.gallery_media{
    height: 100%;
    width: 100%;
}

.slide{
    padding-top: 50px;
    padding-bottom: 50px;
    color: $color_rosa;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 45px;
}

.btn{
    @include btn ();
}
.social-share {
    a{
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background-color: $color_verde;
    &:hover {
        background-color:$color_morado;
      }
  }
}
.modal_project {
    position: fixed; /* Posiciona el modal de forma fija en la pantalla */
    top: 50%; /* Centra el modal verticalmente */
    left: 50%; /* Centra el modal horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el modal para que esté completamente centrado */
    width: 80%; /* Ajusta el tamaño del modal */
    max-width: 500px; /* Establece un tamaño máximo */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Asegúrate de que el modal esté oculto por defecto */
    z-index: 9999; /* Asegura que el modal esté sobre otros elementos */
  
  
  }
  
  .modal_content_img {
    width:100%;
    height: auto;
    object-fit: contain;
    max-width: 600px; /* Asegura que la imagen no sea demasiado grande */
    transition: all 0.3s ease;
    border: 2px solid $color_verde;
    padding: 5px;
    
  }
  .modal_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .close_modal {
    font-weight: bold;
    position: absolute;
    top:0px;
    left: 2px;
    font-size: 30px;
    color: $color_rosa;
    cursor: pointer;
    z-index: 10000; /* Asegura que la "x" esté sobre otros elementos */
  }
  .modal_title_img{
    font-family: $font_text;
    color: $color_rosa;
  
  }

  .scroll_right{
    @include btn ();
    transform:translateX(-15px);
    
    
  }
  .scroll_left{
    @include btn ();
    transform: translateX(15px);
    
  }