.page_project{
    @include texts();
    margin: 50px 100px 50px 100px;
    text-align: center;
    @media(min-width: 768px){
        text-align: left;
    }

}

.content_text{
    @media(min-width: 768px){
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items:center;
    padding-top: 25px;
}}
.category{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}
.content_gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    padding-top: 25px;
    @media(min-width: 768px){
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        justify-items: center;  
        justify-self: center;
        :only-child { /* Selecciona el único hijo directo del .content_gallery */
            grid-column: 1 / -1; /* Ocupa todo el ancho disponible (una columna) */
            justify-self: center; 
            align-self: center;
            width:80%;
            height:auto;
           
            
        }
        
    }
    
}

.gallery_img {
    border: 2px solid $color_verde;
    padding: 5px;
    width: 400px; 
    height:auto; 
    object-fit: cover; /* Ajusta cómo se adapta la imagen al contenedor */
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
        background: $color_verde;
    } 
    @media(min-width: 768px){
        width: 300px; 
        height:300px; 

    }
    
  }
  
.gallery_media{
    height: 100%;
    width: 100%;
}

.slide{
    padding-top: 50px;
    padding-bottom: 50px;
    color: $color_rosa;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 45px;
}

.btn{
    @include btn ();
}

.modal_social {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-content: center;
  width: 50px;
  height: 200px;
  background-color: $color_morado; /* Asegúrate de definir esta variable */
  padding: 10px;
  border-radius: 5px;

  a {
    margin-bottom: 10px; /* Espacio entre íconos */
    text-decoration: none; /* Elimina subrayado, aunque no es visible en imágenes */

    &:last-child {
      margin-bottom: 0px; /* Quita margen del último elemento */
    }

    img {
      width: 30px; /* Tamaño de los íconos */
      height: 30px;
      transition: transform 0.3s ease; /* Animación suave en hover */

      &:hover {
        transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
      }
    }
  }
}
.modal_project {
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); /* Ajusta el modal para que esté completamente centrado */
    width:50%; 
    height:auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; 
    z-index: 9999; 
  
  
  }
  
  .modal_content_img {
    max-width: 90%; // Ancho máximo del contenido
    padding: 20px;
    transition: all 0.3s ease;
    border: 2px solid $color_verde;
    max-width: 90%; // Ancho máximo del contenido
    max-height: 90vh; 
    margin: 20px auto; 
    overflow: hidden;
    
  }
  .modal_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .close_modal {
    font-weight: bold;
    position: absolute;
    top:0px;
    right:2px;
    font-size: 30px;
    color: $color_rosa;
    cursor: pointer;
    z-index: 10000; 
  }
  .container_caption{
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-items: center;
    font-family: $font_text;
    color: $color_rosa;
    font-weight: bold;
  }
  
  .scroll{
    @include btn ();
   
  }
  