.page_project{
    @include texts();
    margin: 50px 100px 50px 100px;
    text-align: center;
    @media(min-width: 768px){
        text-align: left;
    }

}

.content_text{
    @media(min-width: 768px){
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items:center;
    padding-top: 25px;
}}
.category{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}
.content_gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 25px; 
    padding-top: 25px;
    @media(min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    
    }
}

.gallery_img {
    border: 2px solid $color_verde;
    padding: 5px;
    width: 400px; /* Ajusta el ancho según lo necesites */
    height: 400px; /* Ajusta la altura según lo necesites */
    object-fit: cover; /* Ajusta cómo se adapta la imagen al contenedor */
    transition: transform 0.3s ease;  /* Animación suave para el cambio de tamaño */
  }
  
  /* Clase para agrandar la imagen */
  .gallery_img.large {
    width: 100%;  /* Aumentamos el tamaño de la imagen */
    z-index: 10;  /* Asegura que la imagen agrandada esté por encima de las demás */
  }


.slide{
    color: $color_rosa;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.related{
    padding-top: 15px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

