.page_project{
    @include texts();
    margin: 50px 100px 50px 100px;
    text-align: center;
    @media(min-width: 768px){
        text-align: left;
    }

}

.content_text{
    @media(min-width: 768px){
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items:center;
    padding-top: 25px;
}}
.category{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}
.content_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 3em;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    padding-top: 25px;
    @media(min-width: 768px){
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        justify-items: center;  
        justify-self: center;
        :only-child { /* Selecciona el único hijo directo del .content_gallery */
            grid-column: 1 / -1; /* Ocupa todo el ancho disponible (una columna) */
            justify-self: center; 
            align-self: center;
            width:80%;
            height:auto;
                    
        }
        iframe:only-child{
          width: 600px;
          height: 400px;
        }
     
    }
    @media(min-width: 1024px){
      grid-template-columns: repeat(4, 1fr);


    }
    
}
iframe{
  height: 300px;
}

.gallery_img {
    //border: 2px solid $color_verde;
    //padding: 5px;
    width: 400px; 
    height:auto; 
    object-fit: cover; /* Ajusta cómo se adapta la imagen al contenedor */
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: $project-hover-opacity;
      transform: scale($project-hover-scale);
       
    } 
    @media(min-width: 768px){
        width: 300px; 
        height:300px; 

    }
    
  }
 
.slide{
    //width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: $color_rosa;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.line {
  border: none;
  border-top: 2px solid $color_verde; 
  width: 100%; 
  margin: 10px 0; 
}
.btn{
    @include btn ();
}

.modal_project {
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); /* Ajusta el modal para que esté completamente centrado */
    width:50%; 
    height:auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; 
    z-index: 9999; 
  
  }
  .share-container {
    position: relative; 
    .share-button {
      background: none;
      border: none;
      font-family: $font_text;
      color: $color_morado;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        color: $color_rosa;
      }
    }
  
    .modal_social {
      display: none; 
      position: absolute;
      top: 30px; 
      left: 10%;
      z-index: 9999;
      transform: translateX(-50%);
      background-color: #EAEFBD;
      border-radius: 5px;
      padding: 10px;
      width: 50px;
      text-align: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      @media(min-width: 768px){
      left: 20%;

      }
  
      .arrow {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #EAEFBD;; /* Mismo color que el fondo */
      }
  
      a {
        display: block;
        margin: 5px 0;
  
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  
    /* Mostrar el modal cuando esté activo */
    &.active .modal_social {
      display: block;
    }
  }
  
  .modal_content_img {
    max-width: 90%; // Ancho máximo del contenido
    padding: 20px;
    transition: all 0.3s ease;
    //border: 2px solid $color_verde;
    max-width: 90%; // Ancho máximo del contenido
    max-height: 90vh; 
    margin: 20px auto; 
    overflow: hidden;
    
  }
  .modal_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .close_modal {
    font-weight: bold;
    position: absolute;
    top:0px;
    right:2px;
    font-size: 30px;
    color: $color_rosa;
    cursor: pointer;
    z-index: 10000; 
  }
  .container_caption{
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-items: center;
    font-family: $font_text;
    color: $color_rosa;
    font-weight: bold;
  }
  
  .scroll{
    @include btn ();
   
  }
