.page_project{
    @include texts();
    margin: 50px 100px 50px 100px;
    text-align: center;
    @media(min-width: 768px){
        text-align: left;
    }

}

.content_text{
    @media(min-width: 768px){
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items:center;
    padding-top: 25px;
}}
.category{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}
.content_gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 25px; 
    padding-top: 25px;
    @media(min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        
    

    

    }
}
.gallery_img{
    width: 100%;
    border: 2px solid $color_verde;
    padding: 5px;
    
}
.slide{
    color: $color_rosa;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.related{
    padding-top: 15px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}