<footer class="page_footer">
    
    <div class="container_icons" >
        <a href="https://open.spotify.com/show/0dhjAbZBCJ2QCJtI9SytCP?si=666a97ec634b4e35">
            <i class="fa-brands fa-spotify  icons_img"></i>
        </a>
        <a href="https://www.linkedin.com/in/taniasalvatella">
            <i class="fa-brands fa-linkedin-in  icons_img"></i>
        </a>
        <a href="https://www.instagram.com/cabeza_contracturada/">
            <i class="fa-brands fa-instagram  icons_img"></i>
        </a>
        <a href="https://vimeo.com/taniasalvatella">
            <i class="fa-brands fa-vimeo-v  icons_img"></i>
        <a href="https://www.behance.net/taniasalvatella">
            <i class="fa-brands fa-behance  icons_img"></i>
        </a>
    </div>
    
   <div class="container_text">
       <h5>Política de privacidad</h5>
       <h6>© 2025 Tania Salvatella</h6>
   </div>

</footer>
