<footer class="page_footer">
    
    <div class="container_icons" >
        <a href="https://open.spotify.com/show/0dhjAbZBCJ2QCJtI9SytCP?si=666a97ec634b4e35">
            <img class="icons_img" src="/images/logo_spotify.svg" alt="spotify">
        </a>
        <a href="https://www.ivoox.com/audios-canal-bordeando-suicidio_s0_f21525856_p2_1.html?o=all">
            <img class="icons_img" src="/images/logo_ivoox.svg" alt="ivoox">
        </a>
        <a href="https://www.linkedin.com/in/taniasalvatella">
            <img class="icons_img" src="/images/logo_linkedin.svg" alt="linkedin">
        </a>
        <a href="https://www.instagram.com/cabeza_contracturada/">
            <img class="icons_img" src="/images/logo_instagram.svg" alt="instagram">
        </a>
        <a href="https://vimeo.com/taniasalvatella">
            <img class="icons_img" src="/images/logo_vimeo.svg" alt="vimeo">
        </a>
        <a href="https://www.behance.net/taniasalvatella">
            <img class="icons_img" src="/images/logo_behand.svg" alt="behand">
        </a>
    </div>
    
   <div class="container_text">
       <h5>Política de privacidad</h5>
       <h6>© 2025 Tania Salvatella</h6>
   </div>

</footer>
