<header class="page_header">
        <a href="./index.html"><img class="img_logo" src="/images/Cabeza_contracturada.png" alt="logo"></a>
        <nav class="menu">         
                <ul class="menu_ul" >
                    <li><a class="links" href="./projects.html">PROYECTOS</a></li>
                    <li><a class="links" href="./workshops.html">TALLERES</a></li>
                    <li><a class="links" href="./exhibitions.html">EXPOSICIONES</a></li>
                    <li><a class="links" href="./about.html">CONTACTO</a></li>
                    <li>
                      <div class="icons_header">
                        <img src="./images/logo_mail.svg" alt="">
                        <img src="./images/Asset 11.svg" alt="">
                        <img src="./images/Asset 12.svg" alt="">
                      </div>
                    </li>    
                </ul>
        </nav>
        <i class="fa-solid fa-bars hamb js-menuOpen" style="color: white;"></i>
        
  <nav class="nav collapsed js-menu">
    <i class="fa fa-close fa-2x js-closeBtn"></i>
    <ul>
      <li><a class="links" href="./projects.html">PROYECTOS</a></li>
      <li><a class="links" href="./workshops.html">TALLERES</a></li>
      <li><a class="links" href="./exhibitions.html">EXPOSICIONES</a></li>
      <li><a class="links" href="./about.html">CONTACTO</a></li>  
  </nav>
    
</header>