<header class="page_header">
    
        <a href="./index.html"><img class="img_logo" src="/images/Cabeza_contracturada.png" alt="logo"></a>
        <nav class="menu">
                  
                <ul class="menu_ul" >
                    <li><a class="links" href="./projects.html">Proyectos</a></li>
                    <li><a class="links" href="./workshops.html">Talleres</a></li>
                    <li><a class="links" href="./exhibitions.html">Exposiciones</a></li>
                    <li><a class="links" href="./about.html">Sobre mí</a></li>
                    <li><a class="links" href="./contac.html">Contacto</a></li>
                </ul>
          
        </nav>
        <button class="hamb" ><i class="fa-solid fa-bars" style="color: white;"></i>
        </button>   
    
</header>