<main class="landing">
    <i class="fa-solid fa-angle-left btn_scroll js-btn_scroll_left "></i>
    <div class="carousel">    
         <div class="carousel_items js-carousel ">
                <img class="carousel_items__img js-carousel_img " src="/images/image (9).jpg" alt="image (9)">
                <img class="carousel_items__img js-carousel_img " src="/images/image (1).jpeg" alt="image (1)">
                <img class="carousel_items__img js-carousel_img " src="/images/image (8).jpg" alt="image (8)">
                <img class="carousel_items__img js-carousel_img " src="/images/image (2).jpg" alt="image (2)">
                <img class="carousel_items__img js-carousel_img " src="/images/image (3).jpg" alt="image (3)">
                <img class="carousel_items__img js-carousel_img " src="/images/image (4).jpg" alt="image (4)">
                <img class="carousel_items__img js-carousel_img " src="/images/image (5).jpg" alt="image (5)">
                <img class="carousel_items__img js-carousel_img " src="/images/image (6).jpg" alt="image (6)">
                <img class="carousel_items__img js-carousel_img " src="/images/image (7).jpg" alt="image (7)">
                
         </div>
        
    </div>
    <i class="fa-solid fa-angle-right btn_scroll right js-btn_scroll_right"></i>
</main>