<main class="landing">
    <div class="slider">
      <i class="fa-solid fa-angle-left btn_scroll js-button_scroll_left"></i>
      <div class="carousel">
        <ul class="carousel_ul js-carousel">
          <img class="carousel_img js-carousel_img" src="/images/image (9).png" alt="image (9)">
          <img class="carousel_img js-carousel_img" src="/images/image (1).png" alt="image (1)">
          <img class="carousel_img js-carousel_img" src="/images/image (8).png" alt="image (8)">
          <img class="carousel_img js-carousel_img" src="/images/image (4).png" alt="image (4)">
          <img class="carousel_img js-carousel_img" src="/images/image (2).png" alt="image (2)">
          <img class="carousel_img js-carousel_img" src="/images/image (7).png" alt="image (7)"></li>
        </ul>
      </div>
      <i class="fa-solid fa-angle-right btn_scroll right js-button_scroll_right"></i>
    </div>
  
    <div class="slider_option">
      <input type="checkbox" id="checkbox" class="js-autoplay">
      <label for="checkbox">Autoplay Slider</label>
    </div> 
  </main>