<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Rebelión lúdica</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./scss/main.scss" />
  <link rel="icon" href="./images/favicon.png" />
</head>

<body>
  <load src="./partials/header.html" />
 <main >
    <div class="page_project" >
      <section class="content">
        <article>
          <img class="art_img" src="https://placehold.co/400x600" alt="">
          <img class="art_img" src="https://placehold.co/400x600" alt="">
          <img class="art_img" src="https://placehold.co/400x600" alt="">
          <div class="content_text">
            <div>
              <h2 class="content_h2" >REBELIÓN LÚDICA</h2>
              <p class="content_p" >Proyecto de arte residual donde se toman juguetes que están desechados para formar uno nuevo, como un monstruo de Frankenstein que se compone de partes dispares ensambladas en una nueva.
                  Upcycling como rebelión que desafía las convenciones sobre “cómo deberían ser” los juguetes y, por extensión, los cuerpos y las identidades. Crítica irónica a la importancia exagerada que la sociedad asigna a las normas de belleza y el perfeccionismo.
      
                  Rebelión lúdica juega con el concepto de rechazo y la presión por encajar, subvirtiendo los
                  conceptos estancos de belleza y fealdad. También rompe con la idea de “jugar bien”,
                  abogando por un juego libre de restricciones. Al usar la yuxtaposición de piezas de juguetes
                  asociados tradicionalmente a niñas y niños en una sola figura, también pretende poner en
                  juego la fusión de géneros, rechazando las categorías rígidas y promoviendo una idea de
                  juego inclusivo y no binario.</p>
            </div>
            <div class="category">
              <h4>CATEGORÍA</h4>
                     <p>Proyectos</p>
                     <h6>Comparte</h6>
            </div>
          </div>
        </article>
         <div class="slide">
          <i class="fa-solid fa-angle-left"></i>
          <a href="./projects.html">Proyectos</a>
          <i class="fa-solid fa-angle-right"></i>
         </div>
      
      
      </section>
      <load src="./partials/related_projects" />
      
      
 </main>
  <load src="./partials/footer.html" />

  <script src="./js/main.js"></script>
</body>

</html>